[Desktop Entry]
Type=Application
Name=HearthTrace
Comment=Nativer Hearthstone Deck Tracker
Exec=/path/to/hearthtrace/.venv/bin/hearthtrace
Icon=dev.rainer.hearthtrace
StartupWMClass=dev.rainer.hearthtrace
Categories=Game;Utility;
